<p><img alt="Piled Higher and Deeper by Jorge Cham, http://www.phdcomics.com/comics/archive_print.php?comicid=1531" src="../fig/phd101212s.png" /></p>
<hr/>
<p><img alt="Changes Are Saved Sequentially" src="../fig/play-changes.svg" /></p>
<hr/>
<p><img alt="Different Versions Can be Saved" src="../fig/versions.svg" /></p>
<hr/>
<p><img alt="Multiple Versions Can be Merged" src="../fig/merge.svg" /></p>
<hr/>
<p><img alt="Branch your project, modify, and merge." src="../fig/branch_01.svg" /></p>
<hr/>
<p><img alt="Master at C2" src="../fig/progit2_basic-branching-1.png" /></p>
<hr/>
<p><img alt="Master and iss53 at C2" src="../fig/progit2_basic-branching-2.png" /></p>
<hr/>
<p><img alt="Master at C2 and iss53 at C3" src="../fig/progit2_basic-branching-3.png" /></p>
<hr/>
<p><img alt="Master at C2, iss53 at C3, hotfix at C4" src="../fig/progit2_basic-branching-4.png" /></p>
<hr/>
<p><img alt="Master and hotfix at C4, iss53 at C3" src="../fig/progit2_basic-branching-5.png" /></p>
<hr/>
<p><img alt="Master at C4, iss53 at
C5" src="../fig/progit2_basic-branching-6.png" /></p>
<hr/>
<p><img alt="Master at a newly created C6 which has parents C5 and C4" src="../fig/progit2_basic-merging-3.png" /></p>
<hr/>
<p><img alt="Creating a Project on Gitlab (Step 1)" src="../fig/gitlab_01_initial_view.png" /></p>
<hr/>
<p><img alt="Creating a Project on Gitlab (Step 2)" src="../fig/gitlab_02_create_project.png" /></p>
<hr/>
<p><img alt="Creating a Project on Gitlab (Step 3)" src="../fig/gitlab_03_created_project.png" /></p>
<hr/>
<p><img alt="Gitlab Repository After First Push" src="../fig/gitlab-repo-after-first-push.svg" /></p>
<hr/>
<p><img alt="The Git Staging Area" src="../fig/git-staging-area.svg" /></p>
<hr/>
<p><img alt="The Git Commit Workflow" src="../fig/git-committing.svg" /></p>
<hr/>
<p><img alt="" src="http://i.imgur.com/3POtveC.jpg" /></p>
