<footer>
  <div class="row">
    <div class="col-md-6" align="left">
      <h4>
        Based on <a href="https://swcarpentry.github.io/git-novice/about/">the git-novice tutorial</a>
        from the <a href="https://software-carpentry.org/">Software Carpentry Foundation</a>
      </h4>
    </div>
    <div class="col-md-6" align="right">
      <h4>
	<a href="https://git.geomar.de/edu/git-intro/">Source</a>
	/
	<a href="https://git.geomar.de/edu/discussion/">Contact</a>
      </h4>
    </div>
  </div>
</footer>
